
AndroidKTX/MyFlexibleFragment/.idea/

AndroidKTX/MySharedPreference/.idea/

FCM/MyFirebaseCloudMessaging/kotlin/.idea/

SoundPoolAndMediaPlayer/MyMediaPlayer/kotlin/.idea/

Widgets/MyStackWidget/kotlin/.idea/

Widgets/MyWidgets/kotlin/.idea/

Widgets/MyWidgets/java/.idea/

Widgets/MyStackWidget/java/.idea/caches/

Widgets/MyStackWidget/java/.idea/

Notification/SimpleNotif/java/.idea/

Notification/SimpleNotif/kotlin/.idea/

Notification/CustomNotif/java/.idea/

Notification/CustomNotif/kotlin/.idea/

Notification/StackNotif/java/.idea/

Notification/StackNotif/kotlin/.idea/
